root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
max_line_length = off
tab_width = 4
trim_trailing_whitespace = true

[*.{j,t}s{,x} *.{,s}css]
block_comment_end = */
block_comment_start = /*
curly_bracket_next_line = false
quote_type = single

[*.{j,t}s{,x}]
line_comment = //
spaces_around_brackets = none
spaces_around_operators = true

[*.md]
trim_trailing_whitespace = false

