@charset "UTF-8";
@use "../tools/global" as *;

.title a {
    color: $NGRI_COLOR;
    text-decoration: none;
    transition: text-decoration 1s;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0 0 1rem 0;
    line-height: 1;
    font-size: 3rem;
}

.title,
.content p {
    text-align: center;
}
