@charset "UTF-8";
@use "tools/layout" as tools;

#l-container {
    padding: 0 2rem;
}

#l-main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#l-header {
    background: tools.$header-bg-color;
    color: tools.$header-char-color;
    margin: 0 -2rem;
}

#l-footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid tools.$footer-border-top;
    justify-content: center;
    align-items: center;
}

.l-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
}

.navi-list {
    display: flex;
    flex: 1;
    list-style: none;
    > li {
        display: block;
        flex: auto;
        width: 100%;
        a {
            color: tools.$header-char-color;
            padding: 0.5rem;
            border-bottom: solid 3px;
            border-bottom-color: tools.$header-char-color;
            transition: color 1s linear 0, border-bottom-color 1s linear 0;
        }
        a:active, a:hover {
            color: tools.$header-link-color;
            border-bottom: solid 3px;
            border-bottom-color: tools.$header-link-color;
        }
    }
}

